	*{
		font-family:Serif;
	}
	a{
		text-decoration:none;
		text-transform:uppercase;
		color:red;
	}
	a:hover{
		background:black;
		color:white;
	}
	a:active{
		color:white;
		background:black;
	}
	
	
	#aboutContent{
		margin:auto;
		width: 50%;
		display:block;
		background-color:white;
	}
	
	#banner{
		position:relative;
		height:100%;
		width: 50%;
		margin:50px;
		padding: 20px 20px;
		text-align: center;
		letter-spacing:2px;
		text-shadow: 1px 0px 10px white;
		
		
	
	}
	
	#close{
		float:right;
		display:inline-block;
		padding:2px 5px;
		background:white;
	}
	
	.big{
		display:inline-block;
		width: 200px;
		height: 100px;
		background-color:#ff3333;
		cursor:pointer;
		color:white;
		text-shadow:2px 0 black;
		
	}
	
	body{
		background-color: #e6e6e6;
		color: black;
		
		
	}
		
	label{
		vertical-align: text-top;
		}
		
	
	label{
			padding: 12px;
		}
		
	#logo{
		margin: 10px;
		padding: 10px;
		width:15%;
		
	}
	
	img{
		background-color:white;
	}
	
	
	#wrap{
		background:url(burger.jpg);
		width:50%;
		background-size:cover;
		margin:auto;
	}
	
	#textOverImage{
		text-align:center;
		line-height:200px;
		color:yellow;
		
	}
	
	#signin{
		direction: rtl;
		top: 10px;
		right: 10px;
	}
	
	
	
	
	#wrapper{
		margin:0 auto;
		width:100%;
	}
	
	#footer{
		width:100%;
		border:1px solid black;
		background-color:#ff3333;
		margin: 0px 0px 10px 0px;
		padding:10px;
		color:black;
	}
	
	#footer a{
		color:black;
		
	}
	
	#footer a:hover{
		background:white;
	}
	
	ul{
		list-style:none;
	}